<div ng-controller="PendingCountTreeController as pendingCountTreeCtrl">

Pending Task Count: <input ng-model="pendingCountTreeCtrl.pendingTaskCount"></input>
Depth: <input ng-model="pendingCountTreeCtrl.pendingTaskDepth"></input>
<button class="btn btn-default glyphicon glyphicon-plus" ng-click="pendingCountTreeCtrl.startPendingTask(pendingCountTreeCtrl.pendingTaskCount, pendingCountTreeCtrl.pendingTaskDepth)"> </button>
<button class="btn btn-default glyphicon glyphicon-minus" ng-click="pendingCountTreeCtrl.stopPendingTask(pendingCountTreeCtrl.pendingTaskCount)"> </button>
<br/>

<button class="btn btn-default glyphicon glyphicon-refresh" ng-click="pendingCountTreeCtrl.loadPendingCount()"> </button>
<br/>

{{pendingCountTreeCtrl.message}}

<!-- 
ng-table-resizable-columns
 -->
<table ng-table="pendingCountTreeCtrl.pendingCountTableParams" 
	show-filter="true" 
	class="table ng-table-filter ng-table-rowselected ">
	<tbody>
        <tr ng-repeat="e in $data"
        		ng-click="e.$selected = !e.$selected"
                ng-class="{'active': e.$selected}"> 
            
			<td data-title="'PendingCount'" sortable="'pendingCount'" filter="{ 'pendingCount': 'text' }">{{e.pendingCount}}</td>
			<td data-title="'PendingSum'" sortable="'pendingSum'" filter="{ 'pendingSum': 'text' }">{{e.pendingSum}}</td>

			<td data-title="'TreePath'" sortable="'treePath'" filter="{ 'treePath': 'text' }">{{e.treePath}}</td>
			<td data-title="'ShortTreePath'" sortable="'shortTreePath'" filter="{ 'shortTreePath': 'text' }">{{e.shortTreePath}}</td>

			<td data-title="'rootClassName'" sortable="'rootClassName'" filter="{ 'rootClassName': 'text' }">{{e.rootClassName}}</td>
			<td data-title="'rootMethodName'" sortable="'rootMethodName'" filter="{ 'rootMethodName': 'text' }">{{e.rootMethodName}}</td>

			<td data-title="'parentClassName'" sortable="'parentClassName'" filter="{ 'parentClassName': 'text' }">{{e.parentClassName}}</td>
			<td data-title="'parentMethodName'" sortable="'parentMethodName'" filter="{ 'parentMethodName': 'text' }">{{e.parentMethodName}}</td>

			<td data-title="'className'" sortable="'className'" filter="{ 'className': 'text' }">{{e.className}}</td>
			<td data-title="'methodName'" sortable="'methodName'" filter="{ 'methodName': 'text' }">{{e.methodName}}</td>


        </tr>
	</tbody>
</table>

</div>