<div ng-controller="PendingCountTreeController as pendingCountTreeCtrl">

<div class="row">
	Pending Task Count: <input ng-model="pendingCountTreeCtrl.pendingTaskCount"></input>
	Depth: <input ng-model="pendingCountTreeCtrl.pendingTaskDepth"></input>
	<button class="btn btn-small glyphicon glyphicon-plus" ng-click="pendingCountTreeCtrl.startPendingTask(pendingCountTreeCtrl.pendingTaskCount, pendingCountTreeCtrl.pendingTaskDepth)"> </button>
	<button class="btn btn-small glyphicon glyphicon-minus" ng-click="pendingCountTreeCtrl.stopPendingTask(pendingCountTreeCtrl.pendingTaskCount)"> </button>
</div>

<div class="row">
	<button class="btn btn-small" ng-click="pendingCountTreeCtrl.loadPendingCount()"><i class="glyphicon glyphicon-refresh"/></button>
</div>

<div class="row">
	<label for="showRealTimeColumn">
		<input type="checkbox" id="showRealTimeColumn"
			ng-model="pendingCountTreeCtrl.showRealTimeColumn" />
		Show real-time column</label>
	
	<span ng-show="pendingCountTreeCtrl.showRealTimeColumn">
		<label for="enableUpdateTime"> <input type="checkbox"
					id="enableUpdateTime"
					ng-model="pendingCountTreeCtrl.enableUpdateTime"
					ng-change="pendingCountTreeCtrl.onChangeEnableUpdateTime()" /> 
					update time column
		</label>
		<button ng-show="! pendingCountTreeCtrl.enableUpdateTime"
			class="btn btn-small"
			ng-click="pendingCountTreeCtrl.updateTime()">
			<i class="glyphicon glyphicon-refresh"></i>
		</button>
	</span>
</div>

<div class="row">
	<label for="enablePolling">
		<input type="checkbox" id="enablePolling"
			ng-model="pendingCountTreeCtrl.enablePolling" />
		Polling
	</label>	
	<label for="autoRefreshFrequency"></label>
	<input type="number"
			id="autoRefreshFrequency"
			ng-model="pendingCountTreeCtrl.autoRefreshFrequency" 
			ng-change="pendingCountTreeCtrl.onChangeAutoRefreshFrequency()"/>
</div>


<div class="row">
	<label for="enableWebSocket"> 
		<input type="checkbox"
				id="enableWebSocket"
				ng-model="pendingCountTreeCtrl.enableWebSocket"
				ng-change="pendingCountTreeCtrl.onChangeEnableWebSocket()" />
		Use WebSocket
	</label>
</div>
<div class="row">
	<span ng-show="pendingCountTreeCtrl.enableWebSocket">
		<label>Server Publisher PeriodicTask</label>
		<button class="btn btn-small"
			ng-click="pendingCountTreeCtrl.stopServerPublisherPeriodicTask()">
			 <i class="glyphicon glyphicon-stop"> </i>
		</button>
		<button class="btn btn-small"
			ng-click="pendingCountTreeCtrl.startServerPublisherPeriodicTask()">
			 <i class="glyphicon glyphicon-play"> </i>
		</button>
	</span>
</div>


{{pendingCountTreeCtrl.message}}

<!-- 
ng-table-resizable-columns   ... layout bug: when adding this css class => huge empty div inserted above table
 -->
<table ng-table="pendingCountTreeCtrl.pendingCountTableParams" 
	show-filter="true" 
	class="table ng-table-filter ng-table-rowselected ">
	<tbody>
        <tr ng-repeat="e in $data"
        		ng-click="e.$selected = !e.$selected"
                ng-class="{'active': e.$selected}"> 
            
			<td data-title="'Count'" sortable="'pendingCount'" filter="{ 'pendingCount': 'text' }">{{e.pendingCount}}</td>

			<td data-title="'AvgTime(load)'" sortable="'pendingAverageMillisOnLoad'" filter="{ 'pendingAverageMillisOnLoad': 'text' }">{{e.pendingAverageMillisOnLoad}}</td>

			<td ng-show="pendingCountTreeCtrl.showRealTimeColumn"
				data-title="'AvgTime(t)'" sortable="'pendingAverageMillisUntilNow'" filter="{ 'pendingAverageMillisUntilNow': 'text' }">{{e.pendingAverageMillisUntilNow}}</td>

 
			<td data-title="'ShortTreePath'" sortable="'shortTreePath'" filter="{ 'shortTreePath': 'text' }">{{e.shortTreePath}}</td>

			<td data-title="'className'" sortable="'className'" filter="{ 'className': 'text' }">{{e.className}}</td>
			<td data-title="'methodName'" sortable="'methodName'" filter="{ 'methodName': 'text' }">{{e.methodName}}</td>

			<td data-title="'rootClassName'" sortable="'rootClassName'" filter="{ 'rootClassName': 'text' }">{{e.rootClassName}}</td>
			<td data-title="'rootMethodName'" sortable="'rootMethodName'" filter="{ 'rootMethodName': 'text' }">{{e.rootMethodName}}</td>

			<td data-title="'parentClassName'" sortable="'parentClassName'" filter="{ 'parentClassName': 'text' }">{{e.parentClassName}}</td>
			<td data-title="'parentMethodName'" sortable="'parentMethodName'" filter="{ 'parentMethodName': 'text' }">{{e.parentMethodName}}</td>

			<td data-title="'TreePath'">
				<button type="button" class="btn btn-sm glyphicon glyphicon-copy" ng-click="pendingCountTreeCtrl.showTreePath(e)"> </button>

<!-- 
				<button type="button" class="btn btn-sm" data-toggle="popover" data-placement="botton" 
					title="TreePath" 
					data-content="{{e.treePath}}">...</button>
 -->
 			</td>
<!-- 
			<td data-title="'TreePath'" sortable="'treePath'" filter="{ 'treePath': 'text' }">{{e.treePath}}</td>
 -->
 

        </tr>
	</tbody>
</table>

</div>