<div ng-controller="StatsTreeController as statsCtrl">

<button class="btn btn-default" ng-click="statsCtrl.loadStats()">Load</button>

<table ng-table="statsCtrl.statsTreeTableParams" show-filter="true" class="table ng-table-filter ng-table-rowselected ng-table-resizable-columns">
	<tbody>
        <tr ng-repeat="e in $data"
        		ng-click="e.$selected = !e.$selected"
                ng-class="{'active': e.$selected}"> 
            
			<td data-title="'TreePath'" sortable="'treePath'" filter="{ 'treePath': 'text' }">{{e.treePath}}</td>
			<td data-title="'ShortTreePath'" sortable="'shortTreePath'" filter="{ 'shortTreePath': 'text' }">{{e.shortTreePath}}</td>

			<td data-title="'rootClassName'" sortable="'rootClassName'" filter="{ 'rootClassName': 'text' }">{{e.rootClassName}}</td>
			<td data-title="'rootMethodName'" sortable="'rootMethodName'" filter="{ 'rootMethodName': 'text' }">{{e.rootMethodName}}</td>

			<td data-title="'parentClassName'" sortable="'parentClassName'" filter="{ 'parentClassName': 'text' }">{{e.parentClassName}}</td>
			<td data-title="'parentMethodName'" sortable="'parentMethodName'" filter="{ 'parentMethodName': 'text' }">{{e.parentMethodName}}</td>

			<td data-title="'className'" sortable="'className'" filter="{ 'className': 'text' }">{{e.className}}</td>
			<td data-title="'methodName'" sortable="'methodName'" filter="{ 'methodName': 'text' }">{{e.methodName}}</td>


			<td data-title="'PendingCount'" sortable="'pendingCount'" filter="{ 'pendingCount': 'text' }">{{e.pendingCount}}</td>
			<td data-title="'PendingSum'" sortable="'pendingSum'" filter="{ 'pendingSum': 'text' }">{{e.pendingSum}}</td>

			<td data-title="'CountTotal'" sortable="'countTotal'" filter="{ 'countTotal': 'text' }">{{e.countTotal}}</td>
			<td data-title="'SumTotal'" sortable="'sumTotal'" filter="{ 'sumTotal': 'text' }">{{e.sumTotal}}</td>

			<td data-title="'CountFast'" sortable="'countFast01'" filter="{ 'countFast01': 'text' }">{{e.countFast01}}</td>
			<td data-title="'SumFast'" sortable="'sumFast01'" filter="{ 'sumFast01': 'text' }">{{e.sumFast01}}</td>

        </tr>
	</tbody>
    </table>
</div>