<div ng-controller='ChatController as chatCtrl'>
    <h2>Chat</h2>

    <button class="btn btn-default" ng-click="chatCtrl.reloadChats()">Reload Chats</button>

	{{chatCtrl.message}}
	
	<ul>
		<li ng-repeat="chatId in chatCtrl.chatIds">
			<span>{{chatId}}</span>
		    <button class="btn btn-default" ng-click="chatCtrl.openChat(chatId)">Open</button>
		</li>
	</ul>


	<ul>
		<li ng-repeat="chat in chatCtrl.chats">
			<h3>Chat {{chat.id}}</h3>
			<ul>
				<li ng-repeat="msg in chat.messages">
					<div>{{msg.text}}</div>
				</li>
			</ul>
			<div class="row">
				<input type="text" ng-model="chat.textEdit"/>
			</div>
			<div class="row">
			    <button class="btn btn-default" ng-click="chatCtrl.sendChatMessage(chat)">Send</button>
			    <button class="btn btn-default" ng-click="chatCtrl.reloadChatMessages(chat)">Reload Msgs</button>
			</div>
		</li>
	</ul>

	
</div>
